<!DOCTYPE html>
<html>

<head>
    <title class="next-head"><%- friend.username%></title>
    <meta charSet="utf-8" class="next-head" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/images/logo-icon.png" />
    <link rel="stylesheet" href="/css/house.css" />
    <link href="/dist/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <script type="text/javascript" src="//uprimp.com/bnr.php?section=General&pub=666476&format=728x90&ga=g"></script>
<noscript><a href="https://yllix.com/publishers/666476" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/728x90.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" /></a></noscript>
    <style>
            .dropdownUserAvatar:hover{
                border:1px solid #007EE5;
                border-radius: 7px;
                color:#007EE5;
            }
            .value {
                font-size: 16px;
                color: rgb(1, 126, 229);
                padding-left: 8px;
                font-weight: 600;
            }
            .bp3-heading{
                line-height: 26px;
            }
            .bp3-tab{
                outline: none;
            }
            .dEbEEE {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            background-color: rgb(252, 242, 203);
            color: rgb(241, 196, 15);
            padding: 2px 4px;
            border-radius: 2px;
        }
        .active{
            font-weight: 600;
        }
        </style>
</head>
<body>
    <div id="__next">
        <div class="Layout__LayoutWrapper-sc-72xje9-0 gNMUod">
                <%- include('../header')%>
    <div class="clearfix__Clearfix-w9lses-0 kQttEW" height="50"></div>
    <div class="wrapper Wrapper-mxjqhp-0 fPglrh">
        <div class="profile__Container-sc-8m2709-0 edSYmb">
            <div>
                <div class="Style__Container-zl98ck-0 ivCOyE">
                    <div class="editable-cover-photo__Container-sc-1nkig6h-0 duVaz">
                        <div class="editable-cover-photo__CoverPhoto-sc-1nkig6h-1 gekRgF" src="/images/user/default-cover.jpg"></div>
                    </div>
                    <div class="profilePicture">
                        <div class="editable-profile-photo__Container-sc-1a054e1-0 gQcOTK">
                            <div class="user-avatar-large__UserAvatarStyle-qkq3xb-0 bCjPIq">
                                <div class="avatar avatar__Circle-sc-1k5juv6-0 ivUGmq" size="100"><img style="border-radius: 50%" src=<%- friend.avatar == null ? "/avatar-default.png" : friend.avatar %> size="35" class="text">
                                </div>
                                <div class="userInfo user-avatar-large__InfoUser-qkq3xb-3 iaWIXP">
                                    <h3 class="bp3-heading"><span class="user-avatar-large__Username-qkq3xb-1 gXRFYL"><%- friend.username%></span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="Style__Container-sc-1pq7q1x-0 cIdpXS">
                        <div class="Style__RightSide-sc-1pq7q1x-1 ezRpVM">
                            <div>
                                <div></div>
                                <div class="private__StickyWrapper-pq9hb1-0 fJyzeB" style="top:64px">
                                    <div class="Style__Container-sc-1hbqe1f-0 dCYxAd">
                                        <h5 class="bp3-heading" style="text-align: center">Giới thiệu
                                        </h5>
                                        <div class="info">
                                                <div class="number-text__Meta-sc-1bjyh65-0 joILMN">
                                                    <h3 class="bp3-heading"><%- created.length%></h3><span class="info">Đề thi đã tạo</span>
                                                </div>
                                                <div class="number-text__Meta-sc-1bjyh65-0 joILMN">
                                                    <h3 class="bp3-heading"><%- played.length%></h3><span class="info">Số đề đã làm</span>
                                                </div>
                                                
                                            </div>
                                        <div class ="info">
                                            <div class="zjYUS">
                                                    <div class="bp3-heading">Họ tên:<span class="value"><%- friend.username%></span></div>
                                                    <div class="bp3-heading">Giới tính:<span class="value"><%- friend.sex%></span></div>
                                                    <div class="bp3-heading">Số điện thoại:<span class="value"><%- friend.phone%></span></div>
                                                    <div class="bp3-heading">Giới thiệu:<span class="value"><%- friend.introduction%></span></div>
                                            </div>
                                            

                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Style__MainContent-sc-1pq7q1x-2 jibpDr">
                            <div class="white-box__WhileBoxContainer-sc-44su8e-0 dHXTFa">
                                <div>
                                    <div class="tag-list-box__HeaderWrapper-sc-1nopore-0 jbyPEF">
                                        <h3 class="bp3-heading">Chuyên mục đang theo dõi</h3>
                                    </div>
                                    <div class="tag-list__TagList-sc-11r2l46-0 gMduoN">
                                        <% for(var i=0;i< categoryFollow.length;i++){%>
                                        <div class="tagItemContainer">
                                            <a class="tag-item__TagItem-rwrlkn-0 hgdikB" href="/category/<%- categoryFollow[i].id%>"><%- categoryFollow[i].name%></a>
                                        </div>
                                        <%}%>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix__Clearfix-w9lses-0 bkPuTF" height="16"></div>
                            <div class="bp3-tab-list bp3-large" role="tablist">
                                <div id="tablist" class="bp3-tab-indicator-wrapper"
                                    style="height: 40px; transform: translateX(0px) translateY(0px); width: 96px;">
                                    <div class="bp3-tab-indicator"></div>
                                </div>
                                <div aria-controls="test-created" aria-disabled="false" aria-expanded="false"
                                    aria-selected="true" class="bp3-tab" id="title-test-created" role="tab"
                                    tabindex="0">Đề thi đã tạo</div>
                                <div aria-controls="test-played" aria-disabled="false" aria-expanded="true"
                                    aria-selected="false" class="bp3-tab" id="title-test-played"
                                    role="tab" tabindex="0">Đề thi đã làm</div>
                            </div>
                            <div class="clearfix__Clearfix-w9lses-0 bkPuTF" height="16"></div>

                            <div aria-labelledby="title-test-created" aria-hidden="false" class="bp3-tab-panel" id="test-created" role="tabpanel">
                                    <%for(let i =created.length-1;i>= 0;i--){%>
                                        <div class="data">
                                                <div class="activity__Meta-sc-1yhavs1-0 fjbzEI">
                                                        <div class="avatar__Circle-sc-1k5juv6-0 iKuqSS" size="14"><img class="avatar avatar__Image-sc-1k5juv6-1 jDmTwk" src=<%- created[i].avatar == null ? "/avatar-default.png" : created[i].avatar %> size="14"></div>
                                                        <div><span class="username"><%- created[i].parent%></span>tạo đề thi này vào lúc
                                                            <%- created[i].created_at.toLocaleDateString()%></div>
                                                    </div>
                                         <div class="testItem">
                                            <div class="animated fadeIn style__Box-sc-1ravu7g-3 dTubHF white-box__WhileBoxContainer-sc-44su8e-0 dHXTFa">
                                                <div class="style__Flex-sc-1ravu7g-1 fhpJlj">
                                                    <div class="style__TitleBox-sc-1ravu7g-0 kZDlLi" color="#7F30C5"><a href="/test/<%- created[i].id%>" class="title" title="20 câu kiểm tra kiến thức cơ bản Nodejs"><%- created[i].name%></a></div>
                                                    <div class="addon style__AddonWrapper-sc-1ravu7g-2 gnbQfX" color="#8395A7">
                                                        <div class="content" id="<%- created[i].id%>">
                                                            <div class="item" onclick = "saveTest(this)">
                                                    <div><span class="bp3-popover-wrapper"><span class="bp3-popover-target">
                                                            <div class="save-test__IconWrapper-qs5ik2-0 fZkeJA" tabindex="0"><span class="bp3-icon bp3-icon-bookmark"
                                                                    icon="bookmark">
                                                                    <svg fill="#8395A7" data-icon="bookmark" width="16" height="16" viewBox="0 0 16 16">
                                                                        <desc>bookmark</desc>
                                                                        <path
                                                                            d="M11.2.01h-.15C11.03.01 11.02 0 11 0H5c-.02 0-.03.01-.05.01H4.8c-.44 0-.8.37-.8.82v14.75c0 .45.25.56.57.24l2.87-2.94c.31-.32.82-.32 1.13 0l2.87 2.94c.31.32.57.21.57-.24V.83C12 .38 11.64.01 11.2.01z"
                                                                            fill-rule="evenodd"></path>
                                                                    </svg></span></div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                        <div class="style__TestWrapper-sc-1ravu7g-5 crOhCc">
                                            <div class="style__TestInfo-sc-1ravu7g-4 hjDFfQ" color="#0984E3">
                                                <div class="meta style__Meta-sc-1ravu7g-6 kJbyxy" color="#EB5C55"><span class="bp3-icon bp3-icon-help" icon="help"><svg data-icon="help" width="14" height="14" viewBox="0 0 16 16"><desc>help</desc><path d="M8 0C3.58 0 0 3.58 0 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm1 13H7v-2h2v2zm1.93-6.52c-.14.32-.35.64-.62.97L9.25 8.83c-.12.15-.24.29-.28.42-.04.13-.09.3-.09.52V10H7.12V8.88s.05-.51.21-.71L8.4 6.73c.22-.26.35-.49.44-.68.09-.19.12-.38.12-.58 0-.3-.1-.55-.28-.75-.18-.19-.44-.28-.76-.28-.33 0-.59.1-.78.29-.19.19-.33.46-.4.81-.03.11-.1.15-.2.14l-1.7-.25c-.12-.01-.16-.08-.14-.19.12-.82.46-1.47 1.03-1.94.57-.48 1.32-.72 2.25-.72.47 0 .9.07 1.29.22s.72.34 1 .59c.28.25.49.55.65.89.15.35.22.72.22 1.12s-.07.75-.21 1.08z" fill-rule="evenodd"></path></svg></span>
                                                    <span class="info bold"><%- created[i].question%> câu</span>
                                                </div>
                                                <div class="meta style__Meta-sc-1ravu7g-6 kJbyxy" color="#f1c40f"><span class="bp3-icon bp3-icon-time" icon="time"><svg data-icon="time" width="14" height="14" viewBox="0 0 16 16"><desc>time</desc><path d="M8 0C3.58 0 0 3.58 0 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6zm1-6.41V4c0-.55-.45-1-1-1s-1 .45-1 1v4c0 .28.11.53.29.71l2 2a1.003 1.003 0 0 0 1.42-1.42L9 7.59z" fill-rule="evenodd"></path></svg></span>
                                                    <span class="info bold"><%- created[i].time%> phút</span>
                                                </div>
                                                <div class="meta style__Meta-sc-1ravu7g-6 kJbyxy" color="#2ECC71"><span class="bp3-icon bp3-icon-timeline-bar-chart" icon="timeline-bar-chart"><svg data-icon="timeline-bar-chart" width="14" height="14" viewBox="0 0 16 16"><desc>timeline-bar-chart</desc><path d="M8 12h1c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1H8c-.55 0-1 .45-1 1v9c0 .55.45 1 1 1zm5 0h1c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1h-1c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1zm2 1H2c-.55 0-1 .45-1 1s.45 1 1 1h13c.55 0 1-.45 1-1s-.45-1-1-1zM3 12h1c.55 0 1-.45 1-1V7c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1z" fill-rule="evenodd"></path></svg></span>
                                                    <span class="info bold"><%- created[i].access%> lượt làm</span>
                                                </div>
                                                <div class="meta style__Meta-sc-1ravu7g-6 kJbyxy">
                                                    <a class="style__UserWrapperA-sc-1ravu7g-7 bmtztU" href="/profile/<%- created[i].id_parent%>">
                                                        <div class="username user-avatar__UserAvatarStyle-sc-12kuvrh-0 jqsone"><img class="avatar avatar__Image-sc-1k5juv6-1 jDmTwk" src=<%- created[i].avatar == null ? "/avatar-default.png" : created[i].avatar %> size="14">
                                                            <div class="userInfo user-avatar__InfoUser-sc-12kuvrh-1 jqwZLw">
                                                                <div class="user-avatar__Flex-sc-12kuvrh-2 dOcaUa"><span class="username"><%-created[i].parent %></span>
                                                                    <div class="__react_component_tooltip place-top type-dark " data-id="tooltip"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="meta style__Meta-sc-1ravu7g-6 kJbyxy"><span class="bp3-popover-wrapper"><span class="bp3-popover-target"><div class=""><span class="status-test__StatusItem-sc-1f8fenu-0 dEbEEE" color="#f1c40f"><%- created[i].permission == 0 ? 'Đang đợi duyệt' : created[i].permission == 1? '' : 'Bản nháp'%></span></div></span></span></div>
                                            </div>
                                            <div class="more style__TestInfo-sc-1ravu7g-4 hjDFfQ" color="#0984E3">
                                                <div class="tag__TagListStyle-sc-1jmlvd9-0 fksfhh" size="14"><div style="color: #007EE5;" class="tag tag__TagItem-sc-1jmlvd9-1 iyxnyr"><%- created[i].tag%></div></div>
                                                <div class="right">
                                                    <div class="meta style__Meta-sc-1ravu7g-6 cBHwhQ"><span class="bp3-icon bp3-icon-calendar" icon="calendar"><svg data-icon="calendar" width="14" height="14" viewBox="0 0 16 16"><desc>calendar</desc><path d="M11 3c.6 0 1-.5 1-1V1c0-.6-.4-1-1-1s-1 .4-1 1v1c0 .5.4 1 1 1zm3-2h-1v1c0 1.1-.9 2-2 2s-2-.9-2-2V1H6v1c0 1.1-.9 2-2 2s-2-.9-2-2V1H1c-.6 0-1 .5-1 1v12c0 .6.4 1 1 1h13c.6 0 1-.4 1-1V2c0-.6-.5-1-1-1zM5 13H2v-3h3v3zm0-4H2V6h3v3zm4 4H6v-3h3v3zm0-4H6V6h3v3zm4 4h-3v-3h3v3zm0-4h-3V6h3v3zM4 3c.6 0 1-.5 1-1V1c0-.6-.4-1-1-1S3 .4 3 1v1c0 .5.4 1 1 1z" fill-rule="evenodd"></path></svg></span>
                                                        <span class="info"><%- created[i].created_at.toLocaleDateString()%></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="clearfix__Clearfix-w9lses-0 bkPuTF" height="16"></div>
                                        <%}%>
                            </div>
                            <div aria-labelledby="title-test-played" aria-hidden="true" class="bp3-tab-panel" id="test-played" role="tabpanel">
                                    <%for(let i =played.length-1;i>=0;i--){%>
                                        <div class="data">
                                                <div class="activity__Meta-sc-1yhavs1-0 fjbzEI">
                                                        <div class="avatar__Circle-sc-1k5juv6-0 iKuqSS" size="14"><img class="avatar avatar__Image-sc-1k5juv6-1 jDmTwk" src=<%- friend.avatar == null ? "/avatar-default.png" : friend.avatar %> size="14"></div>
                                                        <div><span class="username"><%- friend.username%></span>đã làm đề thi này</div>
                                                    </div>
                                         <div class="testItem">
                                            <div class="animated fadeIn style__Box-sc-1ravu7g-3 dTubHF white-box__WhileBoxContainer-sc-44su8e-0 dHXTFa">
                                                <div class="style__Flex-sc-1ravu7g-1 fhpJlj">
                                                    <div class="style__TitleBox-sc-1ravu7g-0 kZDlLi" color="#7F30C5"><a href="/test/<%- played[i].id%>" class="title" title="20 câu kiểm tra kiến thức cơ bản Nodejs"><%- played[i].name%></a></div>
                                                    <div class="addon style__AddonWrapper-sc-1ravu7g-2 gnbQfX" color="#8395A7">
                                                        <div class="content" id="<%- played[i].id%>">
                                                            <div class="item" onclick = "saveTest(this)">
                                                    <div><span class="bp3-popover-wrapper"><span class="bp3-popover-target">
                                                            <div class="save-test__IconWrapper-qs5ik2-0 fZkeJA" tabindex="0"><span class="bp3-icon bp3-icon-bookmark"
                                                                    icon="bookmark">
                                                                    <svg fill="#8395A7" data-icon="bookmark" width="16" height="16" viewBox="0 0 16 16">
                                                                        <desc>bookmark</desc>
                                                                        <path
                                                                            d="M11.2.01h-.15C11.03.01 11.02 0 11 0H5c-.02 0-.03.01-.05.01H4.8c-.44 0-.8.37-.8.82v14.75c0 .45.25.56.57.24l2.87-2.94c.31-.32.82-.32 1.13 0l2.87 2.94c.31.32.57.21.57-.24V.83C12 .38 11.64.01 11.2.01z"
                                                                            fill-rule="evenodd"></path>
                                                                    </svg></span></div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                        <div class="style__TestWrapper-sc-1ravu7g-5 crOhCc">
                                            <div class="style__TestInfo-sc-1ravu7g-4 hjDFfQ" color="#0984E3">
                                                <div class="meta style__Meta-sc-1ravu7g-6 kJbyxy" color="#EB5C55"><span class="bp3-icon bp3-icon-help" icon="help"><svg data-icon="help" width="14" height="14" viewBox="0 0 16 16"><desc>help</desc><path d="M8 0C3.58 0 0 3.58 0 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm1 13H7v-2h2v2zm1.93-6.52c-.14.32-.35.64-.62.97L9.25 8.83c-.12.15-.24.29-.28.42-.04.13-.09.3-.09.52V10H7.12V8.88s.05-.51.21-.71L8.4 6.73c.22-.26.35-.49.44-.68.09-.19.12-.38.12-.58 0-.3-.1-.55-.28-.75-.18-.19-.44-.28-.76-.28-.33 0-.59.1-.78.29-.19.19-.33.46-.4.81-.03.11-.1.15-.2.14l-1.7-.25c-.12-.01-.16-.08-.14-.19.12-.82.46-1.47 1.03-1.94.57-.48 1.32-.72 2.25-.72.47 0 .9.07 1.29.22s.72.34 1 .59c.28.25.49.55.65.89.15.35.22.72.22 1.12s-.07.75-.21 1.08z" fill-rule="evenodd"></path></svg></span>
                                                    <span class="info bold"><%- played[i].question%> câu</span>
                                                </div>
                                                <div class="meta style__Meta-sc-1ravu7g-6 kJbyxy" color="#f1c40f"><span class="bp3-icon bp3-icon-time" icon="time"><svg data-icon="time" width="14" height="14" viewBox="0 0 16 16"><desc>time</desc><path d="M8 0C3.58 0 0 3.58 0 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6zm1-6.41V4c0-.55-.45-1-1-1s-1 .45-1 1v4c0 .28.11.53.29.71l2 2a1.003 1.003 0 0 0 1.42-1.42L9 7.59z" fill-rule="evenodd"></path></svg></span>
                                                    <span class="info bold"><%- played[i].time%> phút</span>
                                                </div>
                                                <div class="meta style__Meta-sc-1ravu7g-6 kJbyxy" color="#2ECC71"><span class="bp3-icon bp3-icon-timeline-bar-chart" icon="timeline-bar-chart"><svg data-icon="timeline-bar-chart" width="14" height="14" viewBox="0 0 16 16"><desc>timeline-bar-chart</desc><path d="M8 12h1c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1H8c-.55 0-1 .45-1 1v9c0 .55.45 1 1 1zm5 0h1c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1h-1c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1zm2 1H2c-.55 0-1 .45-1 1s.45 1 1 1h13c.55 0 1-.45 1-1s-.45-1-1-1zM3 12h1c.55 0 1-.45 1-1V7c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1z" fill-rule="evenodd"></path></svg></span>
                                                    <span class="info bold"><%- played[i].access%> lượt làm</span>
                                                </div>
                                                <div class="meta style__Meta-sc-1ravu7g-6 kJbyxy">
                                                    <a class="style__UserWrapperA-sc-1ravu7g-7 bmtztU" href="/profile/<%- played[i].id_parent%>">
                                                        <div class="username user-avatar__UserAvatarStyle-sc-12kuvrh-0 jqsone"><img class="avatar avatar__Image-sc-1k5juv6-1 jDmTwk" src=<%- played[i].avatar == null ? "/avatar-default.png" : played[i].avatar %> size="14">
                                                            <div class="userInfo user-avatar__InfoUser-sc-12kuvrh-1 jqwZLw">
                                                                <div class="user-avatar__Flex-sc-12kuvrh-2 dOcaUa"><span class="username"><%- played[i].parent %></span>
                                                                    <div class="__react_component_tooltip place-top type-dark " data-id="tooltip"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="meta style__Meta-sc-1ravu7g-6 kJbyxy"><span class="bp3-popover-wrapper"><span class="bp3-popover-target"><div class=""><span class="status-test__StatusItem-sc-1f8fenu-0 dEbEEE" color="#f1c40f"><%- played[i].permission == 0 ? 'Đang đợi duyệt' : played[i].permission == 1? '' : 'Bản nháp'%></span></div></span></span></div>
                                            </div>
                                            <div class="more style__TestInfo-sc-1ravu7g-4 hjDFfQ" color="#0984E3">
                                                <div class="tag__TagListStyle-sc-1jmlvd9-0 fksfhh" size="14"><div style="color: #007EE5;" class="tag tag__TagItem-sc-1jmlvd9-1 iyxnyr"><%- played[i].tag%></div></div>
                                                <div class="right">
                                                    <div class="meta style__Meta-sc-1ravu7g-6 cBHwhQ"><span class="bp3-icon bp3-icon-calendar" icon="calendar"><svg data-icon="calendar" width="14" height="14" viewBox="0 0 16 16"><desc>calendar</desc><path d="M11 3c.6 0 1-.5 1-1V1c0-.6-.4-1-1-1s-1 .4-1 1v1c0 .5.4 1 1 1zm3-2h-1v1c0 1.1-.9 2-2 2s-2-.9-2-2V1H6v1c0 1.1-.9 2-2 2s-2-.9-2-2V1H1c-.6 0-1 .5-1 1v12c0 .6.4 1 1 1h13c.6 0 1-.4 1-1V2c0-.6-.5-1-1-1zM5 13H2v-3h3v3zm0-4H2V6h3v3zm4 4H6v-3h3v3zm0-4H6V6h3v3zm4 4h-3v-3h3v3zm0-4h-3V6h3v3zM4 3c.6 0 1-.5 1-1V1c0-.6-.4-1-1-1S3 .4 3 1v1c0 .5.4 1 1 1z" fill-rule="evenodd"></path></svg></span>
                                                        <span class="info"><%- played[i].created_at.toLocaleDateString()%></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="clearfix__Clearfix-w9lses-0 bkPuTF" height="16"></div>
                                        <%}%>
                                </div>
                                <input type="hidden" value ="<%-info.id%>" id="username">
                        <script>
                            function saveTest(e){
                                fetch('/api/saved',{
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json'
                                            },
                                            body:JSON.stringify({
                                                id_user:document.getElementById('username').value,
                                                id_test:e.parentNode.id
                                            })
                                        })
                                        .then(function(response) {
                                            alert('Lưu lại thành công');
                                        })
                                        .catch(err=>{
                                            alert('Thất bại,thử lại sau');
                                            console.log(err)
                                    });
                            }
                            const titlePlayed = document.getElementById('title-test-played');
                            const titleCreated = document.getElementById('title-test-created');
                            const played = document.getElementById('test-played');
                            const created = document.getElementById('test-created');
                            const tabList = document.getElementById('tablist');
                            titlePlayed.onclick = function(){
                                played.setAttribute('aria-hidden','false');
                                created.setAttribute('aria-hidden','true');
                                titlePlayed.setAttribute('aria-selected','true');
                                titleCreated.setAttribute('aria-selected','false');
                                tabList.style.transform = 'translateX(114px)  translateY(0px)';
                                tabList.style.width = '86px';
                            }
                            titleCreated.onclick = function(){
                                created.setAttribute('aria-hidden','false');
                                played.setAttribute('aria-hidden','true');
                                titleCreated.setAttribute('aria-selected','true');
                                titlePlayed.setAttribute('aria-selected','false');
                                tabList.style.transform = 'translateX(0px)  translateY(0px)';
                                tabList.style.width = '94px';
                            }

                        </script>
                            <div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix__Clearfix-w9lses-0 kQttEW" height="50"></div>
    <footer class="Footer__FooterLayout-sjil8q-0 glvqwo">
            <div class="Footer__FooterContainer-sjil8q-1 jLcvsU" id="footer"><span class="copyright">© 2019 ThiOnline.vn</span>
                <div class="Footer__MenuList-sjil8q-2 dOaCfU"><a class="menuItem Footer__MenuItem-sjil8q-3 htZavj" href="#"><span class="bp3-icon bp3-icon-star" icon="star"><svg data-icon="star" width="14" height="14" viewBox="0 0 16 16"><desc>star</desc><path d="M8 0l2.5 5.3 5.5.8-4 4.1.9 5.8L8 13.3 3.1 16l.9-5.8-4-4.1 5.5-.8z" fill-rule="evenodd"></path></svg></span><span class="title">Khám phá</span></a>
                    <a class="menuItem Footer__MenuItem-sjil8q-3 htZavj" href="#"><span class="bp3-icon bp3-icon-home" icon="home"><svg data-icon="home" width="14" height="14" viewBox="0 0 16 16"><desc>home</desc><path d="M2 10v5c0 .55.45 1 1 1h3v-5h4v5h3c.55 0 1-.45 1-1v-5L8 4l-6 6zm13.71-2.71L14 5.59V2c0-.55-.45-1-1-1s-1 .45-1 1v1.59L8.71.29C8.53.11 8.28 0 8 0s-.53.11-.71.29l-7 7a1.003 1.003 0 0 0 1.42 1.42L8 2.41l6.29 6.29c.18.19.43.3.71.3a1.003 1.003 0 0 0 .71-1.71z" fill-rule="evenodd"></path></svg></span>
                        <span
                            class="title">Về chúng tôi</span>
                            </a><a class="menuItem Footer__MenuItem-sjil8q-3 htZavj" href="#"><span class="bp3-icon bp3-icon-book" icon="book"><svg data-icon="book" width="14" height="14" viewBox="0 0 16 16"><desc>book</desc><path d="M2 1v14c0 .55.45 1 1 1h1V0H3c-.55 0-1 .45-1 1zm11-1h-1v7l-2-2-2 2V0H5v16h8c.55 0 1-.45 1-1V1c0-.55-.45-1-1-1z" fill-rule="evenodd"></path></svg></span><span class="title">Điều khoản</span></a>
                    <a class="menuItem Footer__MenuItem-sjil8q-3 htZavj" href="#"><span class="bp3-icon bp3-icon-help" icon="help"><svg data-icon="help" width="14" height="14" viewBox="0 0 16 16"><desc>help</desc><path d="M8 0C3.58 0 0 3.58 0 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm1 13H7v-2h2v2zm1.93-6.52c-.14.32-.35.64-.62.97L9.25 8.83c-.12.15-.24.29-.28.42-.04.13-.09.3-.09.52V10H7.12V8.88s.05-.51.21-.71L8.4 6.73c.22-.26.35-.49.44-.68.09-.19.12-.38.12-.58 0-.3-.1-.55-.28-.75-.18-.19-.44-.28-.76-.28-.33 0-.59.1-.78.29-.19.19-.33.46-.4.81-.03.11-.1.15-.2.14l-1.7-.25c-.12-.01-.16-.08-.14-.19.12-.82.46-1.47 1.03-1.94.57-.48 1.32-.72 2.25-.72.47 0 .9.07 1.29.22s.72.34 1 .59c.28.25.49.55.65.89.15.35.22.72.22 1.12s-.07.75-.21 1.08z" fill-rule="evenodd"></path></svg></span>
                                <span
                                    class="title">FAQ</span>
                                    </a><a class="menuItem Footer__MenuItem-sjil8q-3 htZavj" href="#"><span class="bp3-icon bp3-icon-git-repo" icon="git-repo"><svg data-icon="git-repo" width="14" height="14" viewBox="0 0 16 16"><desc>git-repo</desc><path d="M5 9H4v1h1V9zm10-9H1C.45 0 0 .45 0 1v13c0 .55.45 1 1 1h3v1l2-1 2 1v-1h7c.55 0 1-.45 1-1V1c0-.55-.45-1-1-1zM4 13H2v-1h2v1zm10 0H8v-1h6v1zm0-2H3V2h11v9zM5 3H4v1h1V3zm0 4H4v1h1V7zm0-2H4v1h1V5z" fill-rule="evenodd"></path></svg></span><span class="title">Tài liệu</span></a>
            </div>
            </div>
        </footer>
    </div>
    </div>
</body>
<script src="/dist/node_modules/pace-progress/pace.min.js"></script>

</html>