<div class="sidebar">
  <div class="home__HeadingContainer-bep5z7-0 erAjRG">
    <div class="menuItem">
      <div class="SMenu__MenuContainer-sc-1lxz9p6-0 hBYiqG">
        <div class="SMenu__Heading-sc-1lxz9p6-1 hLVxTO">
          <div class="heading">
            <div class="SMenu__ImageWrapper-sc-1lxz9p6-4 hQPPWz">
              <img class="SMenu__Image-sc-1lxz9p6-3 bycZmQ" src="/images/home/work.png" />
            </div>
            <div class="SMenu__Clearfix-sc-1lxz9p6-6 gCeGdQ" width="16"></div>
            <span class="title">Làm đề</span>
          </div>
        </div>
        <div class="SMenu__SubMenuContainer-sc-1lxz9p6-5 eiPHqz">
          <div class="subMenuItem">
            <a class="SMenu__HeadingSubMenu-sc-1lxz9p6-2 fOqMXu" href="/suggestion">
              <div class="heading">
                <div class="SMenu__ImageWrapper-sc-1lxz9p6-4 fHtpVB">
                  <span class="bp3-popover-wrapper">
                    <span class="bp3-popover-target">
                      <img class="SMenu__Image-sc-1lxz9p6-3 bycZmQ" src="/images/home/suggestion.png" tabindex="0" />
                    </span>
                  </span>
                </div>
                <div class="SMenu__Clearfix-sc-1lxz9p6-6 gCeGdQ" width="16"></div>
                <span class="title <%-active == 1 ? 'active' : '' %>">Đề gợi ý</span>
              </div>
            </a>
          </div>
          <div class="subMenuItem">
            <a class="SMenu__HeadingSubMenu-sc-1lxz9p6-2 ifgGJw" href="/saved">
              <div class="heading">
                <div class="SMenu__ImageWrapper-sc-1lxz9p6-4 fHtpVB">
                  <span class="bp3-popover-wrapper">
                    <span class="bp3-popover-target">
                      <img class="SMenu__Image-sc-1lxz9p6-3 bycZmQ" src="/images/home/saved.png" tabindex="0" />
                    </span>
                  </span>
                </div>
                <div class="SMenu__Clearfix-sc-1lxz9p6-6 gCeGdQ" width="16"></div>
                <span class="title <%-active == 2 ? 'active' : '' %>">Đề đã lưu</span>
              </div>
            </a>
          </div>
          <div class="subMenuItem">
            <a class="SMenu__HeadingSubMenu-sc-1lxz9p6-2 ifgGJw" href="/histories">
              <div class="heading">
                <div class="SMenu__ImageWrapper-sc-1lxz9p6-4 fHtpVB">
                  <span class="bp3-popover-wrapper">
                    <span class="bp3-popover-target">
                      <img class="SMenu__Image-sc-1lxz9p6-3 bycZmQ" src="/images/home/histories.png" tabindex="0" />
                    </span>
                  </span>
                </div>
                <div class="SMenu__Clearfix-sc-1lxz9p6-6 gCeGdQ" width="16"></div>
                <span class="title <%-active == 3 ? 'active' : '' %>">Đề đã làm</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div style = <%- info.role != 1 ? "display:none" : ""%> class="menuItem">
      <div class="SMenu__MenuContainer-sc-1lxz9p6-0 hBYiqG">
        <div class="SMenu__Heading-sc-1lxz9p6-1 hLVxTO">
          <div class="heading">
            <div class="SMenu__ImageWrapper-sc-1lxz9p6-4 hQPPWz">
              <img class="SMenu__Image-sc-1lxz9p6-3 bycZmQ" src="/images/home/create-new.png" />
            </div>
            <div class="SMenu__Clearfix-sc-1lxz9p6-6 gCeGdQ" width="16"></div>
            <span class="title">Tạo đề</span>
          </div>
        </div>
        <div class="SMenu__SubMenuContainer-sc-1lxz9p6-5 eiPHqz">
          <div class="subMenuItem">
            <a class="SMenu__HeadingSubMenu-sc-1lxz9p6-2 ifgGJw" href="/create-test">
              <div class="heading">
                <div class="SMenu__ImageWrapper-sc-1lxz9p6-4 fHtpVB">
                  <span class="bp3-popover-wrapper">
                    <span class="bp3-popover-target">
                      <img class="SMenu__Image-sc-1lxz9p6-3 bycZmQ" src="/images/home/create-new.png" tabindex="0" />
                    </span>
                  </span>
                </div>
                <div class="SMenu__Clearfix-sc-1lxz9p6-6 gCeGdQ" width="16"></div>
                <span class="title <%-active == 4 ? 'active' : '' %>">Tạo đề mới</span>
              </div>
            </a>
          </div>
          <div class="subMenuItem">
            <a class="SMenu__HeadingSubMenu-sc-1lxz9p6-2 ifgGJw" href="/created">
              <div class="heading">
                <div class="SMenu__ImageWrapper-sc-1lxz9p6-4 fHtpVB">
                  <span class="bp3-popover-wrapper">
                    <span class="bp3-popover-target">
                      <img class="SMenu__Image-sc-1lxz9p6-3 bycZmQ" src="/images/home/created.png" tabindex="0" />
                    </span>
                  </span>
                </div>
                <div class="SMenu__Clearfix-sc-1lxz9p6-6 gCeGdQ" width="16"></div>
                <span class="title <%-active == 5 ? 'active' : '' %>">Đề đã được duyệt</span>
              </div>
            </a>
          </div>
          <div class="subMenuItem">
            <a class="SMenu__HeadingSubMenu-sc-1lxz9p6-2 ifgGJw" href="/creating">
              <div class="heading">
                <div class="SMenu__ImageWrapper-sc-1lxz9p6-4 fHtpVB">
                  <span class="bp3-popover-wrapper">
                    <span class="bp3-popover-target">
                      <img class="SMenu__Image-sc-1lxz9p6-3 bycZmQ" src="/images/home/draft.png" tabindex="0" />
                    </span>
                  </span>
                </div>
                <div class="SMenu__Clearfix-sc-1lxz9p6-6 gCeGdQ" width="16"></div>
                <span class="title <%-active == 6 ? 'active' : '' %>">Đề đang tạo</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>