<!DOCTYPE html>
<html>

<head>
    <meta charSet="utf-8" class="next-head" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/images/logo-icon.png" />
    <link rel="stylesheet" href="/css/test-detail.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="/dist/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <script type="text/javascript" src="//uprimp.com/bnr.php?section=General&pub=666476&format=300x250&ga=g"></script>
    <noscript><a href="https://yllix.com/publishers/666476" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/300x250.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" /></a></noscript>
     <style>
        ul{
            list-style-type: none;
        }
        ul li{
            display: inline;
        }
        .btn{
            padding: 6px 10px!important;
        }
        .inline img{
            margin-left:10px;
            max-width:600px;
            max-height:200px;
        }
        .inline h4{
            display:inline;
            color:red;
        }
        .questionItem div{
            line-height: 3rem;
        }
        .inline >p:first-of-type,.inline > h3:first-of-type,.inline > b:first-of-type {
            display:inline;
        }
        .question{
            font-size: 20px;
            margin-left:20px;
        }
        .questionItem{
            border-bottom: 1px solid rgba(19, 124, 189, 0.07);
            border-radius: 1%;
        }
        .efWmqw {
            width: 15px;
            height: 15px;
            font-size: 10px;
            background-color: #d8534f;
            color: rgb(255, 255, 255);
            position: absolute;
            right: 0px;
            bottom: 0px;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <div id="__next">
        <div>
            <div class="manage-test__Wrapper-sc-1tfg9qp-0 iuNqMr">
                <div class="SideBar__Container-w1ieqv-0 dTxyFV">
                    <div class="logoText LogoText__Wrapper-sc-1thv7jl-1 kqrXRo LogoText__Flex-sc-1thv7jl-0 dqvHHa">
                        <span class="bp3-popover-wrapper">
                            <span class="bp3-popover-target">
                                <div class="LogoText__LogoDropdownWrapper-sc-1thv7jl-3 dMKHQL LogoText__Flex-sc-1thv7jl-0 dqvHHa">
                                    <div class="LogoText__LogoWrapper-sc-1thv7jl-2 QNPmf LogoText__Flex-sc-1thv7jl-0 dqvHHa">
                                        <img src="/images/logo-icon.png" class="logoIcon">
                                        <h1 class="headerText LogoText__Text-sc-1thv7jl-4 dkReTf" title="Quản lí đề thi">Quản lí đề thi</h1>
                                    </div>
                    </div>
                    </span>
                    </span>
                </div>
                <div class="clearfix__Clearfix-w9lses-0 bkPuTF" height="16">
                </div>
                <div class="SideBar__MenuList-w1ieqv-2 gydJCC">
                    <a class="SideBar__Item-w1ieqv-4 eAzENX" href="./info">
                        <span class="bp3-icon bp3-icon-info-sign menuIcon SideBar__Icon-w1ieqv-5 kcgHRG" icon="info-sign">
                            <svg data-icon="info-sign" width="16" height="16" viewBox="0 0 16 16">
                                <desc>info-sign</desc>
                                <path d="M8 0C3.58 0 0 3.58 0 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zM7 3h2v2H7V3zm3 10H6v-1h1V7H6V6h3v6h1v1z" fill-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span class="menuLabel SideBar__Label-w1ieqv-6 bNFUst">Thông tin</span>
                    </a>
                    <a class="SideBar__Item-w1ieqv-4 PlGcj" href="./questions">
                        <span class="bp3-icon bp3-icon-help menuIcon SideBar__Icon-w1ieqv-5 kcgHRG" icon="help">
                            <svg data-icon="help" width="16" height="16" viewBox="0 0 16 16">
                                <desc>help</desc>
                                <path d="M8 0C3.58 0 0 3.58 0 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm1 13H7v-2h2v2zm1.93-6.52c-.14.32-.35.64-.62.97L9.25 8.83c-.12.15-.24.29-.28.42-.04.13-.09.3-.09.52V10H7.12V8.88s.05-.51.21-.71L8.4 6.73c.22-.26.35-.49.44-.68.09-.19.12-.38.12-.58 0-.3-.1-.55-.28-.75-.18-.19-.44-.28-.76-.28-.33 0-.59.1-.78.29-.19.19-.33.46-.4.81-.03.11-.1.15-.2.14l-1.7-.25c-.12-.01-.16-.08-.14-.19.12-.82.46-1.47 1.03-1.94.57-.48 1.32-.72 2.25-.72.47 0 .9.07 1.29.22s.72.34 1 .59c.28.25.49.55.65.89.15.35.22.72.22 1.12s-.07.75-.21 1.08z" fill-rule="evenodd"></path></svg></span>
                        <span class="menuLabel SideBar__Label-w1ieqv-6 bNFUst">Câu hỏi</span>
                    </a>
                </div>
            </div>
            <div class="manage-test__Main-sc-1tfg9qp-1 iWkPXx">
                <div class="main" style="min-height: calc(100vh - 50px); overflow: auto; width: 1109px;">
                    <div class="manage-test__LayoutHeader-sc-1tfg9qp-2 bupMIK">
                        <h1 class="manage-test__Heading-sc-1tfg9qp-3 iIbZvV">Thiết lập câu hỏi </h1>
                    </div>
                    <div>
                        <div class="style__Main-sc-3hvnas-0 bomtwj" >
                            <div class="style__Center-sc-3hvnas-1 byVMTL">
                                <div class="QuestionsInput__MainWrapper-sc-18w6gix-0 dHmCWA">
                                    <div class="QuestionsInput__Questions-sc-18w6gix-1 btEfro">
                                        <a class ="btn btn-primary pull-left" role="button" href="#form-add">Thêm câu hỏi</a><br/>
                                        <% for(var i = 0; i< data.length ;i++){ %>

                                        <div class="questionItem">
                                            <div class="QuestionView__Wrapper-p27pmp-0 iNAlyr white-box__WhileBoxContainer-sc-44su8e-0 dHXTFa">
                                                <div class="QuestionView__Tool-p27pmp-1 hXiwOv">
                                                    <span class="index">Câu <%- i+1 %></span>
                                                    <div class="QuestionView__FlexRow-p27pmp-2 flXSQm">
                                                        <div class="clearfix__Clearfix-w9lses-0 eBiGOA" width="16"></div>
                                                        <span class="bp3-popover-wrapper">
                                                            <span id="<%- data[i].id %>" class="bp3-popover-target">
                                                                    <span onclick ="editQuestion(this)" class="bp3-icon bp3-icon-annotation" icon="annotation"><svg data-icon="annotation" width="14" height="14" viewBox="0 0 16 16"><desc>annotation</desc><path d="M15.52 2.77c.3-.29.48-.7.48-1.15C16 .73 15.27 0 14.38 0c-.45 0-.85.18-1.15.48l-1.34 1.34 2.3 2.3 1.33-1.35zM7.4 10.9l6.21-6.21-2.3-2.3L5.1 8.6l2.3 2.3zM14 14H2V2h6.34l2-2H1C.45 0 0 .45 0 1v14c0 .55.45 1 1 1h14c.55 0 1-.45 1-1V5.66l-2 2V14zM3 13l3.58-1.29-2.29-2.27L3 13z" fill-rule="evenodd"></path></svg></span>
                                                                <span onclick = "delQuestion(this)" class="bp3-icon bp3-icon-trash remove" icon="trash" tabindex="0">
                                                                    <svg fill="#EB5C55" data-icon="trash" width="14" height="14" viewBox="0 0 16 16">
                                                                        <desc>trash</desc>
                                                                        <path d="M14.49 3.99h-13c-.28 0-.5.22-.5.5s.22.5.5.5h.5v10c0 .55.45 1 1 1h10c.55 0 1-.45 1-1v-10h.5c.28 0 .5-.22.5-.5s-.22-.5-.5-.5zm-8.5 9c0 .55-.45 1-1 1s-1-.45-1-1v-6c0-.55.45-1 1-1s1 .45 1 1v6zm3 0c0 .55-.45 1-1 1s-1-.45-1-1v-6c0-.55.45-1 1-1s1 .45 1 1v6zm3 0c0 .55-.45 1-1 1s-1-.45-1-1v-6c0-.55.45-1 1-1s1 .45 1 1v6zm2-12h-4c0-.55-.45-1-1-1h-2c-.55 0-1 .45-1 1h-4c-.55 0-1 .45-1 1v1h14v-1c0-.55-.45-1-1-1z" fill-rule="evenodd">
                                                                        </path>
                                                                    </svg>
                                                                </span>
                                                            </span>
                                                            <script>
                                                                function delQuestion(e){
                                                                    let r = confirm("Bạn có chắc chắn muốn xoá câu hỏi này ?");
                                                                    if(r){
                                                                        fetch('/api/question/'+e.parentNode.id,{
                                                                                method: 'DELETE',
                                                                            })
                                                                            .then(function(response) {
                                                                                location.reload();
                                                                            })
                                                                            .catch(err=>{
                                                                                alert('Thất bại,thử lại sau');
                                                                                console.log(err)
                                                                            });
                                                                    }
                                                                }
                                                                function editQuestion(e){
                                                                    location.href='./questions/'+e.parentNode.id;
                                                                }
                                                            </script>
                                                        </span>
                                                    </div>
                                                </div>
                                            <div class="inline question"><%- data[i].question %></div>
                                            <div class="inline"><%- data[i].A ? ('A' == data[i].correct? '<h4>A. </h4>' + data[i].A : 'A. ' +data[i].A): '' %></div>
                                            <div class="inline"><%- data[i].B ? ('B' == data[i].correct? '<h4>B. </h4>' + data[i].B : 'B. ' +data[i].B): '' %></div>
                                            <div class="inline"><%- data[i].C ? ('C' == data[i].correct? '<h4>C. </h4>' + data[i].C : 'C. ' +data[i].C): '' %></div>
                                            <div class="inline"><%- data[i].D ? ('D' == data[i].correct? '<h4>D. </h4>' + data[i].D : 'D. ' +data[i].D): '' %></div>
                                            <div class="inline"><%- data[i].E ? ('E' == data[i].correct? '<h4>E. </h4>' + data[i].E : 'E. ' +data[i].E): '' %></div>
                                            <div class="inline"><%- data[i].F ? ('F' == data[i].correct? '<h4>F. </h4>' + data[i].F : 'F. ' +data[i].F): '' %></div>

                                            </div>
                                        </div>
                                    <% } %>

                                        <div class="questionItem">
                                            <div class="QuestionView__Wrapper-p27pmp-0 iNAlyr white-box__WhileBoxContainer-sc-44su8e-0 dHXTFa">
                                                <div class="QuestionView__Tool-p27pmp-1 hXiwOv">
                                                    <span class="index">Thêm câu hỏi </span>
                                                    
                                                </div><br/>
                                            <div id="form-add">
                                                <div class="form-group">
                                                    <textarea class="textarea form-control" placeholder="Nội dung câu hỏi" id="question"
                                                    style="width: 100%; height: 150px; font-size: 14px; line-height: 12px; border: 1px solid #dddddd; padding: 10px;"></textarea>                                   
                                                </div>
                                                <div id="answer">
                                                    <div class="QuestionView__Tool-p27pmp-1 hXiwOv">
                                                            <span class="index">Đáp án</span>
                                                            <div class="QuestionView__FlexRow-p27pmp-2 flXSQm">
                                                            </span>
                                                        </div>
                                                    </div>                                                
                                                    <div class="form-group">
                                                        <label class="radio-inline"><input type="radio" name="correct" value="A">Correct</label><br/>
                                                        <textarea id="answer_A" class="textarea form-control" placeholder="Đáp án A" style="line-height:12px;height: 60px;width: 100%;margin-bottom: 15px;"></textarea> 
                                                    </div>
                                                    <div class="form-group">
                                                            <label class="radio-inline"><input type="radio" name="correct" value="B">Correct</label><br/>
                                                            <textarea id="answer_B" class="textarea form-control" placeholder="Đáp án B" style="line-height:12px;height: 60px;width: 100%;margin-bottom: 15px;"></textarea> 
                                                    </div>
                                                </div>
                                                <button onclick="return addAnswer()" class="btn btn-info"> Thêm đáp án</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button id="add" class="bp3-button bp3-fill bp3-large bp3-minimal" style="border:1px solid rgb(9, 132, 227);color:rgb(9, 132, 227);margin-bottom:30px">
                                    <span class="bp3-icon bp3-icon-plus" icon="plus">
                                        <svg data-icon="plus" width="16" height="16" viewBox="0 0 16 16">
                                            <desc>plus</desc>
                                            <path d="M13 7H9V3c0-.55-.45-1-1-1s-1 .45-1 1v4H3c-.55 0-1 .45-1 1s.45 1 1 1h4v4c0 .55.45 1 1 1s1-.45 1-1V9h4c.55 0 1-.45 1-1s-.45-1-1-1z" fill-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                    <span class="bp3-button-text">Thêm</span>
                                </button>
                            </div>
                        </div>
                        <div class="style__Right-sc-3hvnas-2 dUYxCe">
                            <div>
                                <div style="padding-bottom: 0px;"></div>
                                <div class="questions__ToolBar-sc-1ryj3mv-0 dIrzwQ" style="top: 16px; transform: translateZ(0px);">
                                    <div id = "status">
                                        <input type="hidden" id="permission" value="<%-permission%>">
                                        <button onClick="request()" class="bp3-button bp3-fill bp3-large bp3-minimal saveButtonQuestion" style="outline: none;">Công khai đề</button>
                                    </div>
                                    <div class="clearfix__Clearfix-w9lses-0 bkPuTF" height="16"></div>
                                    <div class="BoxOverviewCheck__TableChooseContainer-j2lapc-0 icVcMJ">
                                        <div class="BoxOverviewCheck__WrapperHeading-j2lapc-1 bQIeIH">
                                            <div class="BoxOverviewCheck__HeadingLine-j2lapc-6 ccXQLM">Bảng đáp án</div>
                                        </div>
                                        <div class="BoxOverviewCheck__BoxOverviewContainer-j2lapc-2 fhHJyt">
                                                <% for(var j = 0; j< data.length ;j++){ %>
                                                    <a class="dMfNdi" href="#<%- data[j].id%>" color="#3B3B3B"><%- j+1%>
                                                    <span class="efWmqw"><%- data[j].correct%></span>
                                                <%}%>
                                            </a>
                                            
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id= "id_test" value="<%-test%>">

</body>
<script src="/jquery.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="/bootstrap3-wysihtml5.all.min.js"></script>
<script>
    
    function request(){
        fetch('/api/test',{
                method: 'PUT',
                headers:{
                'Content-Type': 'application/json',
                },
                body:JSON.stringify({
                    id:$('#id_test').val(),
                    permission:"0"
                })
            })
            .then(function(response) {
                alert("Gửi yêu cầu thành công! Đề thi đang được hệ thống xem xét và duyệt");
                location.reload()
            })
            .catch(err=>{
                alert('Thất bại,thử lại sau');
                console.log(err)
            });
    }
    function addAnswer(){
        let answer = nextCorrect($("input[name=correct]").length);
        answer == null ? alert ('Chỉ được thêm tối đa 6 đáp án')
        : $('#answer').append('<div class="form-group"> <label class="radio-inline"><input type="radio" name="correct" value="'+answer+'">Correct</label><br/> <textarea id="answer_'+answer+'" class="form-control" placeholder="Đáp án '+answer+'" style="line-height:12px;height: 60px;width: 100%;margin-bottom: 15px;"></textarea> </div>');
        $('#answer_'+answer).wysihtml5();
        return false;
    }
    function nextCorrect(length){
        switch(length){
            case 2 : return "C";
            case 3 : return "D";
            case 4 : return "E";
            case 5 : return "F";
            default : return null;
        }
    }

  $(document).ready(()=> {
    $('.textarea').wysihtml5();
    if($('#permission').val() === "0"){
        $('#status').html('<button disabled class="bp3-button bp3-fill bp3-large bp3-minimal saveButtonQuestion" style="outline: none;">Đang đợi duyệt</button>')
    }
    if($('#permission').val() === "1"){
        $('#status').html('<button disabled class="bp3-button bp3-fill bp3-large bp3-minimal saveButtonQuestion" style="outline: none;color:rgb(15, 153, 96);">Đề đã được công khai</button>')
    }
    $('#add').click(()=>{
        if($('#question').val() == '' || $('#answer_A').val() == '' || $('#answer_B').val() == ''){
            alert('Vui lòng điền đầy đủ câu hỏi và đáp án !');
            return;
        }
        if($("input[name=correct]:checked").val() == undefined){
            alert('Vui lòng chọn đáp án đúng');
            return;
        }
        var data ={
            id_test:$('#id_test').val(),
            question:$('#question').val(),
            A:$('#answer_A').val(),
            B:$('#answer_B').val(),
            C:$('#answer_C').val(),
            D:$('#answer_D').val(),
            E:$('#answer_E').val(),
            F:$('#answer_F').val(),
            correct:$("input[name=correct]:checked").val()
        }
        fetch('/api/question',{
            method: 'POST',
            headers:{
            'Content-Type': 'application/json',
            },
            body:JSON.stringify(data)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(res) {
            location.reload();
        })
        .catch(err => {alert('Thêm thất bại, vui lòng kiểm tra lại');console.log(err)});
    })
  })
</script>
<script src="/dist/node_modules/pace-progress/pace.min.js"></script>

</html>