<!DOCTYPE html>
<html>

<head>
    <meta charSet="utf-8" class="next-head" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/images/logo-icon.png" />
    <link rel="stylesheet" href="/css/test-detail.css" />
    <style>
        ul{
            list-style-type: none;
        }
        ul li{
            display: inline;
        }
        .btn{
            padding: 6px 10px!important;
        }
    </style>
    <script type="text/javascript" src="//uprimp.com/bnr.php?section=General&pub=666476&format=300x250&ga=g"></script>
    <noscript><a href="https://yllix.com/publishers/666476" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/300x250.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" /></a></noscript>
    <link href="/dist/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
    <div id="__next">
        <div>
            <div class="manage-test__Wrapper-sc-1tfg9qp-0 iuNqMr">
                <div class="SideBar__Container-w1ieqv-0 dTxyFV">
                    <div class="logoText LogoText__Wrapper-sc-1thv7jl-1 kqrXRo LogoText__Flex-sc-1thv7jl-0 dqvHHa">
                        <span class="bp3-popover-wrapper">
                            <span class="bp3-popover-target">
                                <div class="LogoText__LogoDropdownWrapper-sc-1thv7jl-3 dMKHQL LogoText__Flex-sc-1thv7jl-0 dqvHHa">
                                    <div class="LogoText__LogoWrapper-sc-1thv7jl-2 QNPmf LogoText__Flex-sc-1thv7jl-0 dqvHHa">
                                        <img src="/images/logo-icon.png" class="logoIcon">
                                        <h1 class="headerText LogoText__Text-sc-1thv7jl-4 dkReTf" title="Quản lí đề thi">Quản lí đề thi</h1>
                                    </div>
                    </div>
                    </span>
                    </span>
                </div>
                <div class="clearfix__Clearfix-w9lses-0 bkPuTF" height="16">
                </div>
                <div class="SideBar__MenuList-w1ieqv-2 gydJCC">
                    <a class="SideBar__Item-w1ieqv-4 eAzENX" href="../info">
                        <span class="bp3-icon bp3-icon-info-sign menuIcon SideBar__Icon-w1ieqv-5 kcgHRG" icon="info-sign">
                            <svg data-icon="info-sign" width="16" height="16" viewBox="0 0 16 16">
                                <desc>info-sign</desc>
                                <path d="M8 0C3.58 0 0 3.58 0 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zM7 3h2v2H7V3zm3 10H6v-1h1V7H6V6h3v6h1v1z" fill-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span class="menuLabel SideBar__Label-w1ieqv-6 bNFUst">Thông tin</span>
                    </a>
                    <a class="SideBar__Item-w1ieqv-4 PlGcj" href="../questions">
                        <span class="bp3-icon bp3-icon-help menuIcon SideBar__Icon-w1ieqv-5 kcgHRG" icon="help">
                            <svg data-icon="help" width="16" height="16" viewBox="0 0 16 16">
                                <desc>help</desc>
                                <path d="M8 0C3.58 0 0 3.58 0 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm1 13H7v-2h2v2zm1.93-6.52c-.14.32-.35.64-.62.97L9.25 8.83c-.12.15-.24.29-.28.42-.04.13-.09.3-.09.52V10H7.12V8.88s.05-.51.21-.71L8.4 6.73c.22-.26.35-.49.44-.68.09-.19.12-.38.12-.58 0-.3-.1-.55-.28-.75-.18-.19-.44-.28-.76-.28-.33 0-.59.1-.78.29-.19.19-.33.46-.4.81-.03.11-.1.15-.2.14l-1.7-.25c-.12-.01-.16-.08-.14-.19.12-.82.46-1.47 1.03-1.94.57-.48 1.32-.72 2.25-.72.47 0 .9.07 1.29.22s.72.34 1 .59c.28.25.49.55.65.89.15.35.22.72.22 1.12s-.07.75-.21 1.08z" fill-rule="evenodd"></path></svg></span>
                        <span class="menuLabel SideBar__Label-w1ieqv-6 bNFUst">Câu hỏi</span>
                    </a>
                </div>
            </div>
            <div class="manage-test__Main-sc-1tfg9qp-1 iWkPXx">
                <div class="main" style="min-height: calc(100vh - 50px); overflow: auto; width: 1109px;">
                    <div class="manage-test__LayoutHeader-sc-1tfg9qp-2 bupMIK">
                        <h1 class="manage-test__Heading-sc-1tfg9qp-3 iIbZvV">Thiết lập câu hỏi </h1>
                    </div>
                    <div>
                        <input type="file" accept=".pdf, .txt" style="display: none;">
                        <div class="style__Main-sc-3hvnas-0 bomtwj">
                            <div class="style__Center-sc-3hvnas-1 byVMTL">
                                <div class="QuestionsInput__MainWrapper-sc-18w6gix-0 dHmCWA">
                                    <div class="QuestionsInput__Questions-sc-18w6gix-1 btEfro">
                                        <div class="questionItem">
                                            <div class="QuestionView__Wrapper-p27pmp-0 iNAlyr white-box__WhileBoxContainer-sc-44su8e-0 dHXTFa">
                                                <div class="QuestionView__Tool-p27pmp-1 hXiwOv">
                                                    <span class="index">Sửa câu hỏi</span>
                                                    <div class="QuestionView__FlexRow-p27pmp-2 flXSQm">
                                                    <div class="clearfix__Clearfix-w9lses-0 eBiGOA" width="16"></div><span class="bp3-popover-wrapper"><span class="bp3-popover-target"><span class="bp3-icon bp3-icon-trash remove" icon="trash" tabindex="0"><svg fill="#EB5C55" data-icon="trash" width="14" height="14" viewBox="0 0 16 16"><desc>trash</desc><path d="M14.49 3.99h-13c-.28 0-.5.22-.5.5s.22.5.5.5h.5v10c0 .55.45 1 1 1h10c.55 0 1-.45 1-1v-10h.5c.28 0 .5-.22.5-.5s-.22-.5-.5-.5zm-8.5 9c0 .55-.45 1-1 1s-1-.45-1-1v-6c0-.55.45-1 1-1s1 .45 1 1v6zm3 0c0 .55-.45 1-1 1s-1-.45-1-1v-6c0-.55.45-1 1-1s1 .45 1 1v6zm3 0c0 .55-.45 1-1 1s-1-.45-1-1v-6c0-.55.45-1 1-1s1 .45 1 1v6zm2-12h-4c0-.55-.45-1-1-1h-2c-.55 0-1 .45-1 1h-4c-.55 0-1 .45-1 1v1h14v-1c0-.55-.45-1-1-1z" fill-rule="evenodd"></path></svg></span></span>
                                                    </span>
                                                </div>
                                            </div><br/>
                                            <div id="form-add">
                                                <div class="form-group">
                                                    <textarea class="textarea form-control" placeholder="Nội dung câu hỏi" id="question"
                                                    style="width: 100%; height: 150px; font-size: 14px; line-height: 12px; border: 1px solid #dddddd; padding: 10px;"><%- data.question%></textarea>                                   
                                                </div>
                                                <div id="answer">
                                                    <div class="QuestionView__Tool-p27pmp-1 hXiwOv">
                                                            <span class="index">Đáp án</span>
                                                            <div class="QuestionView__FlexRow-p27pmp-2 flXSQm">
                                                            </span>
                                                        </div>
                                                    </div>                                                
                                                    <div class="form-group">
                                                        <label class="radio-inline"><input type="radio" name="correct" value="A">Correct</label><br/>
                                                        <textarea id="answer_A" class="textarea form-control" placeholder="Đáp án A" style="line-height:12px;height: 60px;width: 100%;margin-bottom: 15px;"><%- data.A%></textarea> 
                                                    </div>
                                                    <div class="form-group">
                                                            <label class="radio-inline"><input type="radio" name="correct" value="B">Correct</label><br/>
                                                            <textarea id="answer_B" class="textarea form-control" placeholder="Đáp án B" style="line-height:12px;height: 60px;width: 100%;margin-bottom: 15px;"><%- data.B%></textarea> 
                                                    </div>
                                                    <div class="form-group">
                                                            <label class="radio-inline"><input type="radio" name="correct" value="C">Correct</label><br/>
                                                            <textarea id="answer_C" class="textarea form-control" placeholder="Đáp án C" style="line-height:12px;height: 60px;width: 100%;margin-bottom: 15px;"><%- data.C%></textarea> 
                                                    </div>
                                                    <div class="form-group">
                                                            <label class="radio-inline"><input type="radio" name="correct" value="D">Correct</label><br/>
                                                            <textarea id="answer_D" class="textarea form-control" placeholder="Đáp án D" style="line-height:12px;height: 60px;width: 100%;margin-bottom: 15px;"><%- data.D%></textarea> 
                                                    </div>
                                                    <div class="form-group">
                                                            <label class="radio-inline"><input type="radio" name="correct" value="E">Correct</label><br/>
                                                            <textarea id="answer_E" class="textarea form-control" placeholder="Đáp án E" style="line-height:12px;height: 60px;width: 100%;margin-bottom: 15px;"><%- data.E%></textarea> 
                                                    </div>
                                                    <div class="form-group">
                                                            <label class="radio-inline"><input type="radio" name="correct" value="F">Correct</label><br/>
                                                            <textarea id="answer_F" class="textarea form-control" placeholder="Đáp án F" style="line-height:12px;height: 60px;width: 100%;margin-bottom: 15px;"><%- data.F%></textarea> 
                                                    </div>
                                                </div>
                                                <button onclick="editAnswer()" class="btn btn-info pull-right" style="margin-bottom:50px"> Lưu lại</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="id" value ="<%-data.id%>">
    <input type="hidden" id="correct" value ="<%-data.correct%>">
</body>
<script src="/jquery.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="/bootstrap3-wysihtml5.all.min.js"></script>
<script>
     $(document).ready(()=> {
        $('input:radio[name=correct]').val([$('#correct').val()]);
        $('.textarea').wysihtml5();
    })
    function editAnswer(){
        if($('#question').val() == '' || $('#answer_A').val() == '' || $('#answer_B').val() == ''){
            alert('Vui lòng điền đầy đủ câu hỏi và đáp án !');
            return;
        }
        if($("input[name=correct]:checked").val() == undefined){
            alert('Vui lòng chọn đáp án đúng');
            return;
        }
        var data ={
            id:$('#id').val(),
            question:$('#question').val(),
            A:$('#answer_A').val(),
            B:$('#answer_B').val(),
            C:$('#answer_C').val(),
            D:$('#answer_D').val(),
            E:$('#answer_E').val(),
            F:$('#answer_F').val(),
            correct:$("input[name=correct]:checked").val()
        }
        fetch('/api/question',{
            method: 'PUT',
            headers:{
            'Content-Type': 'application/json',
            },
            body:JSON.stringify(data)
        })
        .then(function(response) {
            alert('Lưu lại thành công !');
            location.href="../questions";
        })
        .catch(err => {alert('thất bại, vui lòng kiểm tra lại');console.log(err)});
        return false;
    }
 
</script>
<script src="/dist/node_modules/pace-progress/pace.min.js"></script>

</html>